# DJANGO
DEBUG=True
ALLOWED_HOSTS=*
SECRET=somesecrethere
GUNICORN_WORKERS=5
DJANGO_LOGLEVEL=INFO


# DATABASE
POSTGRESQL_HOST=demo-db
POSTGRESQL_PORT=5432
POSTGRESQL_DATABASE=demo
POSTGRESQL_USER=demo-user
POSTGRESQL_PASSWORD=demo-password

# USER
UID=1000
GID=1000

# REDIS
REDIS_HOST=demo-redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=demo-redis-password
REDIS_AOF_ENABLED=yes
REDIS_URL=redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}

# REDIS_DISTRIBUTION
DJANGO_CACHING_REDIS_DB=0
DJANGO_CACHING_REDIS_URL=redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/${DJANGO_CACHING_REDIS_DB}

CELERY_RESULTS_REDIS_DB=1
CELERY_RESULTS_REDIS_URL=redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/${CELERY_RESULTS_REDIS_DB}


# RABBITMQ
RABBITMQ_ERLANG_COOKIE=identifier-cookies
RABBITMQ_DEFAULT_USER=kamran
RABBITMQ_DEFAULT_PASS=supercomplicatedpassword
RABBITMQ_DEFAULT_PORT=5672
RABBITMQ_DEFAULT_HOST=demo-rabbitmq

# CELERY
CELERY_WORKER_LOGLEVEL=INFO
CELERY_BEAT_LOGLEVEL=INFO
CELERY_RESULT_BACKEND_URL=${CELERY_RESULTS_REDIS_URL}
CELERY_BROKER_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@${RABBITMQ_DEFAULT_HOST}:${RABBITMQ_DEFAULT_PORT}


# EMAIL
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=
EMAIL_FROM=
CLIENT_URL=


# CACHE
CACHE_TTL=
